vendor/
.env
.env.*
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-debug.log
yarn-error.log
.idea/
.vscode/
.DS_Store
*.sqlite
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/hot
/public/storage
/node_modules/
/public/vendor/
/.phpunit/
/.pint/
/.php-cs-fixer.cache
/.styleci.yml
/.env.testing
/.env.testing.* 
/.github/dependabot.yml 
/.github/workflows/ci.yml
/.github/workflows/release.yml
/.github/workflows/run-tests.yml
/.github/workflows/sync-readme.yml
/gitattributes
/.phpstorm.meta.php 
/.laravel-ide-helper.php